@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

:root {
    --main-color: hsl(224, 52%, 46%);
    --sub-color: #e9eff9;
    --bg-color: #eee;
    --text-color: #333;
    --light-text: #666;
    --placeholder: #bbb;
    /* --neushadow : 5px 5px 11px #bababa,
    -3px -3px 9px #fafafa,
    -3px -3px 6px 0 rgba(0, 0, 0, .25) inset;
    --morshadow: 6px 6px 12px 0 rgba(255, 255, 255, 0.5) inset,
    -4px -4px 9px 0 rgba(0, 0, 0, .1) inset;
    --neumodal : 6px 6px 11px #1e1e1e,
    -5px -5px 9px #6a6a6a,
    -5px -5px 12px 0 rgba(0, 0, 0, .3) inset; */
}

* {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
}

.text-center{
    text-align: center !important;
}

.mt-1{
    margin-top: 1rem;
}

button {
    border: .1rem solid var(--main-color);
    background: #fff;
    color: var(--main-color);
    padding: .39rem 1rem;
    min-width: 6rem;
    border-radius: .6rem;
    font-size: .9rem;
    cursor: pointer;
}

button:hover{
    background: var(--sub-color);
    color: var(--main-color);
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
}

h5{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

p {
    font-size: .9rem;
    color: var(--text-color);
    font-weight: 300;
}

label {
    font-size: .9rem;
    color: var(--text-color);
    font-weight: 300;
}

input{
    background: #f3f3f3;
    display: block;
    border: 1px solid #eee;
    padding: .55rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 1rem;
    width: 100% ;
    box-shadow: var(--morshadow);
}

input::placeholder{
    color: var(--placeholder);
}

table {
    margin-top: 2rem;
    background: #fff;
    border-radius: 1rem;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
}

th {
    background: var(--main-color);
    padding: .5rem 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    height: 3rem;
}

th:first-child{
    border-radius: 1rem 0 0;
    padding-left: 1.5rem;
}

th:last-child{
    border-radius: 0 1rem 0 0 ;
    padding-left: 1.5rem;
}

td {
    padding: .5rem 1rem;
    font-size: 1rem;
    color: var(--light-text);
}

tr:hover{
    background: #f3f3f3;
}

tr:hover td{
    color: var(--text-color);
}

td:first-child{
    padding-left: 1.5rem;
}

tr:nth-child(even) {
    background-color: var(--sub-color);
    border-radius: 1rem;
}

tr:nth-child(even):hover{
    background: #eee;
}

tr:last-child td:last-child{
    border-radius: 0 0 1rem 0;
}

tr:last-child td:first-child{
    border-radius: 0 0 0 1rem;
}